.Loading {

  & .loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    & .spinner {
      width: 40px;
      height: 40px;
      border: 4px solid var(--dark3);
      border-top: 4px solid var(--lite2);
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }
  }

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}